/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-field:focus {
  caret-color: rgb(143, 143, 143);
  outline: none;
}
.text-field::-webkit-outer-spin-button,
.text-field::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.text-field::placeholder{
  font-size: 14px;
}