@import "tailwindcss";

/* @layer base {
	html {
	  font-family: "Sarabun";
	}
  } */

.text-field:focus {
  caret-color: rgb(143, 143, 143);
  outline: none;
}
.text-field::-webkit-outer-spin-button,
.text-field::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.text-field::placeholder{
  font-size: 14px;
}

.printFont {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* เอาไว้เปลี่ยน fill ของ icon */
.hoverfill:hover > .iconhover {
  fill : #0891B2
}
/* ตั้งชื่อ class มั่วไปหน่อย เอาไว้ selector เปลี่ยนสี element ลึกๆซักอันของ menubar */
.texthover:hover > div > span > .changetext{
  color: rgb(8 145 178);
  fill: rgb(8 145 178);
}
.texthover:hover > div > .changetext{
  color: white;
  fill: #0891B2
}
.semester-text:hover > p {
  color: #0891B2;
}
.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}