version: '3.8'

services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspaces/school-timetable-senior-project:cached
    network_mode: service:db
    depends_on:
      - db

  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      - POSTGRES_USER=dev_user
      - POSTGRES_PASSWORD=dev_password
      - POSTGRES_DB=timetable_dev
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
